<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lemonwhale.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <!-- Values are used for unit tests -->
        <Lemonwhale.Core.Properties.Settings>
            <setting name="LemonwhaleSiteId" serializeAs="String">
                <value>aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa</value>
            </setting>
            <setting name="LemonwhaleApiKey" serializeAs="String">
                <value>bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbbbb</value>
            </setting>
            <setting name="LemonwhaleListBaseUrl" serializeAs="String">
                <value>http://lemonwhale.list.base.url/{0}/videos.json</value>
            </setting>
        </Lemonwhale.Core.Properties.Settings>
    </applicationSettings>
</configuration>
