
.job-audit-log-container {
    border-top: 1px solid #BEBEBE;
    padding-top: 1em;
}

.job-audit-log-container label {
    display: inline-block;
    margin-right: 0.5em;
    padding-left: 1.5em;
    width: 15em;
}

#ReasonTextBox {
    margin-bottom: 1em;
    margin-right: 1em;
    width: 32em;
}
