<?xml version="1.0" encoding="utf-8" ?>
<log4net xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<appender xdt:Transform="Remove"
			  xdt:Locator="Match(name)"
			  name="errorFileLogAppender" />
	<appender xdt:Transform="Remove"
			  xdt:Locator="Match(name)"
			  name="outputDebugStringAppender" />

	<appender xdt:Transform="Insert"
			  xdt:Locator="Match(name)"
			  name="NLogBridgeAppender"
			  type="MyWeb.Core.Infrastructure.Logging.NLogBridgeAppender, MyWeb.Core">
		<encoding value="utf-8" />
		<filter type="log4net.Filter.LoggerMatchFilter">
			<loggerToMatch value="MyWeb" />
			<acceptOnMatch value="false" />
		</filter>
	</appender>

	<logger xdt:Transform="Replace"
			xdt:Locator="Match(name)"
			name="EPiServer.Core.OptimisticCache"
			additivity="false">
		<level value="Error" />
		<appender-ref ref="NLogBridgeAppender" />
	</logger>
	<logger xdt:Transform="Replace"
			xdt:Locator="Match(name)"
			name="EPiServer.Core.ContentProvider"
			additivity="false">
		<level value="Error" />
		<appender-ref ref="NLogBridgeAppender" />
	</logger>
	<logger xdt:Transform="Replace"
			xdt:Locator="Match(name)"
			name="EPiServer.Data.Dynamic.Providers.DbDataStoreProvider"
			additivity="false">
		<level value="Error" />
		<appender-ref ref="NLogBridgeAppender" />
	</logger>
	<logger xdt:Transform="Replace"
			xdt:Locator="Match(name)"
			name="EPiServer.Data.Providers.SqlDatabaseHandler"
			additivity="false">
		<level value="Error" />
		<appender-ref ref="NLogBridgeAppender" />
	</logger>
	<logger xdt:Transform="Replace"
			xdt:Locator="Match(name)"
			name="EPiServer.Data.Providers.ConnectionContext"
			additivity="false">
		<level value="Error" />
		<appender-ref ref="NLogBridgeAppender" />
	</logger>

	<root xdt:Transform="Replace">
		<level value="Warn" />
		<appender-ref ref="NLogBridgeAppender" />
	</root>

</log4net>
