<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<targets>
		<target xdt:Transform="Insert"
				xsi:type="File"
				name="AllFile"
				fileName="${basedir}/../Logs/All.${shortdate}.log"
				layout="[${longdate}][${uppercase:${level}}][${logger}] ${message} ${exception:format=ToString,StackTrace}" />
		<target xdt:Transform="Insert"
				xsi:type="File"
				name="MyWebFile"
				fileName="${basedir}/../Logs/MyWeb.${shortdate}.log"
				layout="[${longdate}][${uppercase:${level}}][${logger}] ${message} ${exception:format=ToString,StackTrace}" />
	</targets>
	<rules>
		<logger xdt:Transform="Insert"
				name="*"
				minlevel="Warn"
				writeTo="AllFile" />
		<logger xdt:Transform="Insert"
				name="MyWeb"
				minLevel="Warn"
				writeTo="MyWebFile" />
	</rules>
</nlog>
