<root xmlns:xforms="http://www.w3.org/2002/xforms" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <model>
    <instance>
      <Author />
      <DocumentType />
      <Category />
      <Publisher />
      <Description />
    </instance>
  </model>
  <table id="id_matrix" border="0">
    <tr>
      <td class="EP-tableCaptionCell">
        <label for="id_field2" id="id_field1" style="margin-bottom: 10px;">Author</label>
      </td>
      <td valign="top">
        <xforms:input ref="Author" value="" id="id_field2" size="40" class="episize240" />
      </td>
    </tr>
    <tr>
      <td class="EP-tableCaptionCell">
        <label for="id_field13" id="id_field6">Publisher</label>
      </td>
      <td valign="top">
        <xforms:input ref="Publisher" value="" id="id_field13" size="-1" class="episize240" />
      </td>
    </tr>
    <tr>
      <td class="EP-tableCaptionCell">
        <br />
        <label for="id_field12" id="id_field5">Type of document</label>
      </td>
      <td valign="top">
        <xforms:select1 appearance="full" ref="DocumentType" id="id_field12">
          <xforms:item>
            <xforms:label>Whitepaper</xforms:label>
            <xforms:value>Whitepaper</xforms:value>
          </xforms:item>
          <xforms:item>
            <xforms:label>Technote</xforms:label>
            <xforms:value>Technote</xforms:value>
          </xforms:item>
          <xforms:item>
            <xforms:label>Manual</xforms:label>
            <xforms:value>Manual</xforms:value>
          </xforms:item>
        </xforms:select1>
      </td>
    </tr>
    <tr>
      <td class="EP-tableCaptionCell">
        <br />
        <label for="id_field121" id="id_field5">Category</label>
      </td>
      <td valign="top">
        <xforms:select appearance="full" ref="Category" id="id_field121">
          <xforms:item>
            <xforms:label>Product1</xforms:label>
            <xforms:value>Product1</xforms:value>
          </xforms:item>
          <xforms:item>
            <xforms:label>Product2</xforms:label>
            <xforms:value>Product2</xforms:value>
          </xforms:item>
          <xforms:item>
            <xforms:label>Product3</xforms:label>
            <xforms:value>Product3</xforms:value>
          </xforms:item>
        </xforms:select>
      </td>
    </tr>
    <tr>
      <td class="EP-tableCaptionCell">
        <label for="id_field14">Description</label>
      </td>
      <td valign="top">
        <div id="id_field8">
          <xforms:textarea cols="37" rows="6" ref="Description" value="" id="id_field14" size="-1" />
        </div>
      </td>
    </tr>
  </table>
</root>
