<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="microsoft.web.services3"
                 type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <section name="workflowRuntime"
                 type="System.Workflow.Runtime.Configuration.WorkflowRuntimeSection, System.Workflow.Runtime, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <section name="wftools.services.common.ado"
                 type="WFTools.Services.Common.Ado.Configuration.CommonAdoProviderSettings,EPiServer.WFTools.Services" />
        <section name="wftools.services.persistence.ado"
                 type="WFTools.Services.Persistence.Ado.Configuration.PersistenceAdoProviderSettings,EPiServer.WFTools.Services" />
        <section name="wftools.services.tracking.ado"
                 type="WFTools.Services.Tracking.Ado.Configuration.TrackingAdoProviderSettings,EPiServer.WFTools.Services" />
        <section name="episerver"
                 type="EPiServer.Configuration.EPiServerSection, EPiServer.Configuration, Version=6.1.379.0, Culture=neutral, PublicKeyToken=8fe83dea738b45b7"
                 restartOnExternalChanges="true" />
        <section name="staticFile"
                 type="EPiServer.Configuration.StaticFileSection, EPiServer.Configuration"
                 allowLocation="true" />
        <section name="episerver.baseLibrary"
                 allowDefinition="MachineToApplication"
                 allowLocation="false"
                 type="EPiServer.BaseLibrary.ConfigurationHandler,EPiServer.BaseLibrary" />
        <section name="episerver.basicAuthentication"
                 type="EPiServer.Configuration.BasicAuthenticationSection, EPiServer.Configuration"
                 allowLocation="true" />
        <sectionGroup name="episerverModules"></sectionGroup>
        <section name="episerver.shell"
                 type="EPiServer.Shell.Configuration.EPiServerShellSection, EPiServer.Shell" />
        <section name="episerver.dataStore"
                 type="EPiServer.Data.Configuration.EPiServerDataStoreSection, EPiServer.Data" />
        <section name="episerver.framework"
                 type="EPiServer.Framework.Configuration.EPiServerFrameworkSection, EPiServer.Framework"
                 restartOnExternalChanges="true" />
        <section name="episerver.search"
                 type="EPiServer.Search.Configuration.SearchSection, EPiServer.ApplicationModules" />
    </configSections>
    <episerver configSource="episerver.config" />
    <staticFile expirationTime="12:0:0" />
    <episerver.baseLibrary>
        <classFactories>
            <add type="EPiServer.Implementation.DefaultBaseLibraryFactory, EPiServer.Implementation"
                 id="ContentChannelFactory">
                <register type="EPiServer.ContentChannels.ContentChannelAdministration, EPiServer"
                          mappedType="EPiServer.ContentChannels.ObjectStoreContentChannelAdministration, EPiServer" />
                <register type="EPiServer.BaseLibrary.IContentChannelHandler, EPiServer"
                          mappedType="EPiServer.ContentChannels.ContentChannelHandler, EPiServer" />
            </add>
            <add type="EPiServer.Core.PropertyControlClassFactory, EPiServer"
                 id="PropertyControlFactory"></add>
        </classFactories>
    </episerver.baseLibrary>
    <workflowRuntime EnablePerformanceCounters="false">
        <Services>
            <add type="System.Workflow.Runtime.Hosting.DefaultWorkflowSchedulerService, System.Workflow.Runtime, Version=3.0.00000.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                 maxSimultaneousWorkflows="5" />
            <add type="System.Workflow.Runtime.Hosting.SharedConnectionWorkflowCommitWorkBatchService, System.Workflow.Runtime, Version=3.0.00000.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
            <add type="System.Workflow.Runtime.Hosting.SqlWorkflowPersistenceService, System.Workflow.Runtime, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                 UnloadOnIdle="true" />
        </Services>
    </workflowRuntime>
    <runtime>
        <assemblyBinding>
            <dependentAssembly />
        </assemblyBinding>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.ApplicationModules"
                                  publicKeyToken="8fe83dea738b45b7"
                                  culture="neutral" />
                <bindingRedirect oldVersion="1.0.0.0-6.2.267.1"
                                 newVersion="6.2.267.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Data.Cache"
                                  publicKeyToken="8fe83dea738b45b7"
                                  culture="neutral" />
                <bindingRedirect oldVersion="5.2.375.0-6.65535.65535.65535"
                                 newVersion="6.2.267.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Data"
                                  publicKeyToken="8fe83dea738b45b7"
                                  culture="neutral" />
                <bindingRedirect oldVersion="5.2.375.0-6.65535.65535.65535"
                                 newVersion="6.2.267.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Events"
                                  publicKeyToken="8fe83dea738b45b7"
                                  culture="neutral" />
                <bindingRedirect oldVersion="1.0.0.0-6.2.267.1"
                                 newVersion="6.2.267.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Framework"
                                  publicKeyToken="8fe83dea738b45b7"
                                  culture="neutral" />
                <bindingRedirect oldVersion="1.0.0.0-6.2.267.1"
                                 newVersion="6.2.267.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Licensing"
                                  publicKeyToken="8fe83dea738b45b7"
                                  culture="neutral" />
                <bindingRedirect oldVersion="1.0.0.0-6.2.267.1"
                                 newVersion="6.2.267.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Shell"
                                  publicKeyToken="8fe83dea738b45b7"
                                  culture="neutral" />
                <bindingRedirect oldVersion="1.0.0.0-6.2.267.1"
                                 newVersion="6.2.267.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Shell.UI"
                                  publicKeyToken="8fe83dea738b45b7"
                                  culture="neutral" />
                <bindingRedirect oldVersion="1.0.0.0-6.2.267.1"
                                 newVersion="6.2.267.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.ComponentModel.Composition"
                                  publicKeyToken="8fe83dea738b45b7"
                                  culture="neutral" />
                <bindingRedirect oldVersion="1.0.0.0-2009.22.10.0"
                                 newVersion="2009.22.10.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc"
                                  publicKeyToken="31bf3856ad364e35"
                                  culture="neutral" />
                <bindingRedirect oldVersion="1.0.0.0-2.0.0.0"
                                 newVersion="2.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="ElektroPost.Licensing"
                                  publicKeyToken="8fe83dea738b45b7"
                                  culture="neutral" />
                <bindingRedirect oldVersion="5.2.375.0-6.65535.65535.65535"
                                 newVersion="6.1.379.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.BaseLibrary"
                                  publicKeyToken="8fe83dea738b45b7"
                                  culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.1.379.0"
                                 newVersion="6.1.379.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Blog"
                                  publicKeyToken="8fe83dea738b45b7"
                                  culture="neutral" />
                <bindingRedirect oldVersion="5.2.375.0-6.65535.65535.65535"
                                 newVersion="6.1.379.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Cms.Shell.UI"
                                  publicKeyToken="8fe83dea738b45b7"
                                  culture="neutral" />
                <bindingRedirect oldVersion="5.2.375.0-6.65535.65535.65535"
                                 newVersion="6.1.379.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Configuration"
                                  publicKeyToken="8fe83dea738b45b7"
                                  culture="neutral" />
                <bindingRedirect oldVersion="5.2.375.0-6.65535.65535.65535"
                                 newVersion="6.1.379.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer"
                                  publicKeyToken="8fe83dea738b45b7"
                                  culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.1.379.0"
                                 newVersion="6.1.379.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Enterprise"
                                  publicKeyToken="8fe83dea738b45b7"
                                  culture="neutral" />
                <bindingRedirect oldVersion="5.2.375.0-6.65535.65535.65535"
                                 newVersion="6.1.379.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.ImageLibrary"
                                  publicKeyToken="8fe83dea738b45b7"
                                  culture="neutral" />
                <bindingRedirect oldVersion="5.2.375.0-6.65535.65535.65535"
                                 newVersion="6.1.379.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Implementation"
                                  publicKeyToken="8fe83dea738b45b7"
                                  culture="neutral" />
                <bindingRedirect oldVersion="5.2.375.0-6.65535.65535.65535"
                                 newVersion="6.1.379.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Legacy4"
                                  publicKeyToken="8fe83dea738b45b7"
                                  culture="neutral" />
                <bindingRedirect oldVersion="5.2.375.0-6.65535.65535.65535"
                                 newVersion="6.1.379.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.LinkAnalyzer"
                                  publicKeyToken="8fe83dea738b45b7"
                                  culture="neutral" />
                <bindingRedirect oldVersion="5.2.375.0-6.65535.65535.65535"
                                 newVersion="6.1.379.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Log.Analyzers"
                                  publicKeyToken="8fe83dea738b45b7"
                                  culture="neutral" />
                <bindingRedirect oldVersion="5.2.375.0-6.65535.65535.65535"
                                 newVersion="6.1.379.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Log.Core"
                                  publicKeyToken="8fe83dea738b45b7"
                                  culture="neutral" />
                <bindingRedirect oldVersion="5.2.375.0-6.65535.65535.65535"
                                 newVersion="6.1.379.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Lucene"
                                  publicKeyToken="8fe83dea738b45b7"
                                  culture="neutral" />
                <bindingRedirect oldVersion="5.2.375.0-6.65535.65535.65535"
                                 newVersion="6.1.379.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Scheduler"
                                  publicKeyToken="8fe83dea738b45b7"
                                  culture="neutral" />
                <bindingRedirect oldVersion="5.2.375.0-6.65535.65535.65535"
                                 newVersion="6.1.379.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Scheduler.WKTL"
                                  publicKeyToken="8fe83dea738b45b7"
                                  culture="neutral" />
                <bindingRedirect oldVersion="5.2.375.0-6.65535.65535.65535"
                                 newVersion="5.1.422.4" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.UI"
                                  publicKeyToken="8fe83dea738b45b7"
                                  culture="neutral" />
                <bindingRedirect oldVersion="5.2.375.0-6.65535.65535.65535"
                                 newVersion="6.1.379.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Web.WebControls"
                                  publicKeyToken="8fe83dea738b45b7"
                                  culture="neutral" />
                <bindingRedirect oldVersion="5.2.375.0-6.65535.65535.65535"
                                 newVersion="6.1.379.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.WebDav"
                                  publicKeyToken="8fe83dea738b45b7"
                                  culture="neutral" />
                <bindingRedirect oldVersion="5.2.375.0-6.65535.65535.65535"
                                 newVersion="6.1.379.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.WebParts"
                                  publicKeyToken="8fe83dea738b45b7"
                                  culture="neutral" />
                <bindingRedirect oldVersion="5.2.375.0-6.65535.65535.65535"
                                 newVersion="6.1.379.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.WorkflowFoundation"
                                  publicKeyToken="8fe83dea738b45b7"
                                  culture="neutral" />
                <bindingRedirect oldVersion="5.2.375.0-6.65535.65535.65535"
                                 newVersion="6.1.379.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.XForms"
                                  publicKeyToken="8fe83dea738b45b7"
                                  culture="neutral" />
                <bindingRedirect oldVersion="5.2.375.0-6.65535.65535.65535"
                                 newVersion="6.1.379.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.XmlRpc"
                                  publicKeyToken="8fe83dea738b45b7"
                                  culture="neutral" />
                <bindingRedirect oldVersion="5.2.375.0-6.65535.65535.65535"
                                 newVersion="6.1.379.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="log4net"
                                  publicKeyToken="1b44e1d426115821"
                                  culture="neutral" />
                <bindingRedirect oldVersion="1.0.0.0-1.65535.65535.65535"
                                 newVersion="1.2.10.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Web.Services3"
                                  publicKeyToken="31bf3856ad364e35"
                                  culture="neutral" />
                <bindingRedirect oldVersion="3.0.0.0-3.65535.65535.65535"
                                 newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.DataVisualization"
                                  publicKeyToken="31bf3856ad364e35"
                                  culture="neutral" />
                <bindingRedirect oldVersion="3.0.0.0-3.65535.65535.65535"
                                 newVersion="3.5.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="StructureMap"
                                  publicKeyToken="e60ad81abae3c223"
                                  culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.6.4.0"
                                 newVersion="2.6.4.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <connectionStrings configSource="connectionStrings.config" />
    <system.net>
        <mailSettings>
            <smtp deliveryMethod="PickupDirectoryFromIis" />
        </mailSettings>
    </system.net>
    <system.web>
        <roleManager enabled="true"
                     defaultProvider="MultiplexingRoleProvider"
                     cacheRolesInCookie="true">
            <providers>
                <clear />
                <add name="MultiplexingRoleProvider"
                     type="EPiServer.Security.MultiplexingRoleProvider, EPiServer"
                     provider1="SqlServerRoleProvider"
                     provider2="WindowsRoleProvider"
                     providerMap1="SqlServerMembershipProvider"
                     providerMap2="WindowsMembershipProvider" />
                <add name="WindowsRoleProvider"
                     applicationName="EPiServerSample"
                     type="EPiServer.Security.WindowsRoleProvider, EPiServer" />
                <add name="SqlServerRoleProvider"
                     connectionStringName="EPiServerDB"
                     applicationName="EPiServerSample"
                     type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
            </providers>
        </roleManager>
        <membership defaultProvider="MultiplexingMembershipProvider"
                    userIsOnlineTimeWindow="10">
            <providers>
                <clear />
                <add name="MultiplexingMembershipProvider"
                     type="EPiServer.Security.MultiplexingMembershipProvider, EPiServer"
                     provider1="SqlServerMembershipProvider"
                     provider2="WindowsMembershipProvider" />
                <add name="WindowsMembershipProvider"
                     type="EPiServer.Security.WindowsMembershipProvider, EPiServer"
                     deletePrefix="BUILTIN\"
                     searchByEmail="true" />
                <add name="SqlServerMembershipProvider"
                     type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
                     connectionStringName="EPiServerDB"
                     requiresQuestionAndAnswer="false"
                     applicationName="EPiServerSample"
                     requiresUniqueEmail="true"
                     passwordFormat="Hashed"
                     maxInvalidPasswordAttempts="5"
                     minRequiredPasswordLength="7"
                     minRequiredNonalphanumericCharacters="0"
                     passwordAttemptWindow="10"
                     passwordStrengthRegularExpression="" />
            </providers>
        </membership>
        <profile enabled="true"
                 defaultProvider="SqlProfile"
                 automaticSaveEnabled="true">
            <properties>
                <add name="Address"
                     type="System.String" />
                <add name="ZipCode"
                     type="System.String" />
                <add name="Locality"
                     type="System.String" />
                <add name="Email"
                     type="System.String" />
                <add name="FirstName"
                     type="System.String" />
                <add name="LastName"
                     type="System.String" />
                <add name="Language"
                     type="System.String" />
                <add name="Country"
                     type="System.String" />
                <add name="Company"
                     type="System.String" />
                <add name="Title"
                     type="System.String" />
                <add name="SubscriptionInfo"
                     type="EPiServer.Personalization.SubscriptionInfo, EPiServer" />
                <add name="CustomExplorerTreePanel"
                     type="System.String" />
                <add name="FileManagerFavourites"
                     type="System.Collections.Generic.List`1[System.String]" />
                <add name="EditTreeSettings"
                     type="EPiServer.Personalization.GuiSettings, EPiServer" />
                <add name="ClientToolsActivationKey"
                     type="System.String" />
                <add name="FrameworkName"
                     type="System.String" />
            </properties>
            <providers>
                <clear />
                <add name="SqlProfile"
                     type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
                     connectionStringName="EPiServerDB"
                     applicationName="EPiServerSample" />
            </providers>
        </profile>
        <compilation defaultLanguage="c#"
                     debug="false">
            <assemblies>
                <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
                <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Abstractions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
                <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
                <add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
            </assemblies>
        </compilation>
        <customErrors mode="RemoteOnly" />
        <authentication mode="Forms">
            <forms name=".EPiServerLogin"
                   loginUrl="Util/login.aspx"
                   timeout="120" />
        </authentication>
        <trace enabled="false"
               requestLimit="10"
               pageOutput="false"
               traceMode="SortByTime"
               localOnly="true" />
        <sessionState mode="InProc"
                      stateConnectionString="tcpip=127.0.0.1:42424"
                      sqlConnectionString="data source=127.0.0.1;user id=sa;password="
                      cookieless="false"
                      timeout="20" />
        <globalization culture="en-US"
                       uiCulture="en"
                       requestEncoding="utf-8"
                       responseEncoding="utf-8"
                       resourceProviderFactoryType="EPiServer.Resources.XmlResourceProviderFactory, EPiServer" />
        <pages validateRequest="false"
               enableEventValidation="true"
               pageParserFilterType="System.Web.Mvc.ViewTypeParserFilter, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
            <controls>
                <add tagPrefix="EPiServer"
                     namespace="EPiServer.WebControls"
                     assembly="EPiServer" />
                <add tagPrefix="EPiServer"
                     namespace="EPiServer.Web.WebControls"
                     assembly="EPiServer" />
                <add tagPrefix="EPiServer"
                     namespace="EPiServer.Web.WebControls"
                     assembly="EPiServer.Web.WebControls" />
                <add tagPrefix="XForms"
                     namespace="EPiServer.XForms.WebControls"
                     assembly="EPiServer.XForms" />
                <add tagPrefix="WebParts"
                     namespace="EPiServer.WebParts.WebControls"
                     assembly="EPiServer" />
                <add tagPrefix="asp"
                     namespace="System.Web.UI"
                     assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add tagPrefix="asp"
                     namespace="System.Web.UI.WebControls"
                     assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </controls>
            <namespaces>
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Routing" />
                <add namespace="System.Linq" />
                <add namespace="System.Collections.Generic" />
            </namespaces>
        </pages>
        <caching>
            <outputCacheSettings>
                <outputCacheProfiles>
                    <add name="ClientResourceCache"
                         enabled="true"
                         duration="3600"
                         varyByParam="*"
                         varyByContentEncoding="gzip;deflate" />
                </outputCacheProfiles>
            </outputCacheSettings>
        </caching>
    </system.web>
    <system.serviceModel>
        <client></client>
        <bindings>
            <customBinding>
                <binding name="RemoteEventsBinding">
                    <binaryMessageEncoding />
                    <!--<udpTransport multicast="True" />-->
                </binding>
            </customBinding>
        </bindings>
        <extensions>
            <bindingElementExtensions>
                <add name="udpTransport"
                     type="Microsoft.ServiceModel.Samples.UdpTransportElement, EPiServer.Events" />
            </bindingElementExtensions>
        </extensions>
        <services>
            <service name="EPiServer.Events.Remote.EventReplication"></service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="DebugServiceBehaviour">
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true">
            <add name="StructureMapInitializer"
                 type="Generic.Bootstrap.Initializer, Generic.Bootstrap" />
            <add name="InitializationModule"
                 type="EPiServer.Framework.Initialization.InitializationModule, EPiServer.Framework"
                 preCondition="managedHandler" />
            <add name="FirstBeginRequestModule"
                 type="EPiServer.Web.InitializationModule, EPiServer"
                 preCondition="managedHandler" />
            <add name="Initializer"
                 type="EPiServer.Scheduler.Initializer, EPiServer.Scheduler"
                 preCondition="managedHandler" />
            <add name="WorkflowRuntime"
                 type="EPiServer.WorkflowFoundation.WorkflowSystem, EPiServer.WorkflowFoundation"
                 preCondition="managedHandler" />
            <add name="UrlRewriteModule"
                 type="EPiServer.Web.UrlRewriteModule, EPiServer"
                 preCondition="managedHandler" />
            <add name="ShellRoutingModule"
                 type="EPiServer.Shell.Web.Routing.ShellRoutingModule, EPiServer.Shell" />
        </modules>
        <handlers>
            <add name="UrlRoutingHandler"
                 preCondition="integratedMode"
                 verb="*"
                 path="UrlRouting.axd"
                 type="System.Web.HttpForbiddenHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        </handlers>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge"
                         cacheControlMaxAge="1.00:00:00"></clientCache>
        </staticContent>
        <caching>
            <profiles>
                <add extension=".gif"
                     policy="DontCache"
                     kernelCachePolicy="CacheUntilChange"
                     duration="0.00:01:00"
                     location="Any" />
                <add extension=".png"
                     policy="DontCache"
                     kernelCachePolicy="CacheUntilChange"
                     duration="0.00:01:00"
                     location="Any" />
                <add extension=".js"
                     policy="DontCache"
                     kernelCachePolicy="CacheUntilChange"
                     duration="0.00:01:00"
                     location="Any" />
                <add extension=".css"
                     policy="DontCache"
                     kernelCachePolicy="CacheUntilChange"
                     duration="0.00:01:00"
                     location="Any" />
                <add extension=".jpg"
                     policy="DontCache"
                     kernelCachePolicy="CacheUntilChange"
                     duration="0.00:01:00"
                     location="Any" />
                <add extension=".jpeg"
                     policy="DontCache"
                     kernelCachePolicy="CacheUntilChange"
                     duration="0.00:01:00"
                     location="Any" />
            </profiles>
        </caching>
    </system.webServer>
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp"
                      extension=".cs"
                      type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                      warningLevel="4">
                <providerOption name="CompilerVersion"
                                value="v3.5" />
                <providerOption name="WarnAsError"
                                value="false" />
            </compiler>
        </compilers>
    </system.codedom>
    <microsoft.web.services3>
        <messaging>
            <transports>
                <add scheme="soap.tcp">
                    <defaultPort value="8082" />
                </add>
            </transports>
        </messaging>
    </microsoft.web.services3>
    <location path="PageFiles">
        <system.webServer>
            <handlers>
                <add name="webresources"
                     path="WebResource.axd"
                     verb="GET"
                     type="System.Web.Handlers.AssemblyResourceLoader" />
                <add name="wildcard"
                     path="*"
                     verb="*"
                     type="EPiServer.Web.StaticFileHandler, EPiServer" />
            </handlers>
        </system.webServer>
        <staticFile expirationTime="-1.0:0:0" />
    </location>
    <location path="Documents">
        <system.webServer>
            <handlers>
                <add name="webresources"
                     path="WebResource.axd"
                     verb="GET"
                     type="System.Web.Handlers.AssemblyResourceLoader" />
                <add name="wildcard"
                     path="*"
                     verb="*"
                     type="EPiServer.Web.StaticFileHandler, EPiServer" />
            </handlers>
        </system.webServer>
        <staticFile expirationTime="-1.0:0:0" />
    </location>
    <location path="Global">
        <system.webServer>
            <handlers>
                <add name="webresources"
                     path="WebResource.axd"
                     verb="GET"
                     type="System.Web.Handlers.AssemblyResourceLoader" />
                <add name="wildcard"
                     path="*"
                     verb="*"
                     type="EPiServer.Web.StaticFileHandler, EPiServer" />
            </handlers>
        </system.webServer>
        <staticFile expirationTime="-1.0:0:0" />
    </location>
    <location path="secure/ui">
        <system.web>
            <httpRuntime maxRequestLength="1000000" />
            <pages enableEventValidation="true">
                <controls>
                    <add tagPrefix="EPiServerUI"
                         namespace="EPiServer.UI.WebControls"
                         assembly="EPiServer.UI" />
                    <add tagPrefix="EPiServerScript"
                         namespace="EPiServer.ClientScript.WebControls"
                         assembly="EPiServer" />
                    <add tagPrefix="EPiServerScript"
                         namespace="EPiServer.UI.ClientScript.WebControls"
                         assembly="EPiServer.UI" />
                </controls>
            </pages>
            <globalization requestEncoding="utf-8"
                           responseEncoding="utf-8" />
            <authorization>
                <allow roles="WebEditors, WebAdmins, Administrators" />
                <deny users="*" />
            </authorization>
        </system.web>
        <system.webServer>
            <handlers>
                <clear />
                <add name="webresources"
                     path="WebResource.axd"
                     verb="GET"
                     type="System.Web.Handlers.AssemblyResourceLoader" />
                <add name="PageHandlerFactory-Integrated"
                     path="*.aspx"
                     verb="GET,HEAD,POST,DEBUG"
                     type="System.Web.UI.PageHandlerFactory"
                     modules="ManagedPipelineHandler"
                     scriptProcessor=""
                     resourceType="Unspecified"
                     requireAccess="Script"
                     allowPathInfo="false"
                     preCondition="integratedMode"
                     responseBufferLimit="4194304" />
                <add name="SimpleHandlerFactory-Integrated"
                     path="*.ashx"
                     verb="GET,HEAD,POST,DEBUG"
                     type="System.Web.UI.SimpleHandlerFactory"
                     modules="ManagedPipelineHandler"
                     scriptProcessor=""
                     resourceType="Unspecified"
                     requireAccess="Script"
                     allowPathInfo="false"
                     preCondition="integratedMode"
                     responseBufferLimit="4194304" />
                <add name="WebServiceHandlerFactory-Integrated"
                     path="*.asmx"
                     verb="GET,HEAD,POST,DEBUG"
                     type="System.Web.Services.Protocols.WebServiceHandlerFactory, System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
                     modules="ManagedPipelineHandler"
                     scriptProcessor=""
                     resourceType="Unspecified"
                     requireAccess="Script"
                     allowPathInfo="false"
                     preCondition="integratedMode"
                     responseBufferLimit="4194304" />
                <add name="wildcard"
                     path="*"
                     verb="*"
                     type="EPiServer.Web.StaticFileHandler, EPiServer" />
            </handlers>
        </system.webServer>
    </location>
    <location path="secure/ui/CMS/admin">
        <system.web>
            <authorization>
                <allow roles="WebAdmins, Administrators" />
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="WebServices">
        <episerver.basicAuthentication sendBasicChallenge="true"
                                       basicRealm="" />
        <system.web>
            <httpRuntime maxRequestLength="1000000" />
            <authorization>
                <allow roles="WebServices,Administrators" />
                <deny users="*" />
            </authorization>
        </system.web>
        <system.webServer>
            <handlers>
                <clear />
                <add name="webresources"
                     path="WebResource.axd"
                     verb="GET"
                     type="System.Web.Handlers.AssemblyResourceLoader" />
                <add name="WebServiceHandlerFactory-Integrated"
                     path="*.asmx"
                     verb="GET,HEAD,POST,DEBUG"
                     type="System.Web.Services.Protocols.WebServiceHandlerFactory, System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
                     modules="ManagedPipelineHandler"
                     scriptProcessor=""
                     resourceType="Unspecified"
                     requireAccess="Script"
                     allowPathInfo="false"
                     preCondition="integratedMode"
                     responseBufferLimit="4194304" />
                <add name="wildcard"
                     path="*"
                     verb="*"
                     type="EPiServer.Web.StaticFileHandler, EPiServer" />
            </handlers>
        </system.webServer>
    </location>
    <location path="util">
        <system.web>
            <pages enableEventValidation="true">
                <controls>
                    <add tagPrefix="EPiServerUI"
                         namespace="EPiServer.UI.WebControls"
                         assembly="EPiServer.UI" />
                    <add tagPrefix="EPiServerScript"
                         namespace="EPiServer.ClientScript.WebControls"
                         assembly="EPiServer" />
                </controls>
            </pages>
            <globalization requestEncoding="utf-8"
                           responseEncoding="utf-8" />
        </system.web>
        <system.webServer>
            <handlers>
                <clear />
                <add name="webresources"
                     path="WebResource.axd"
                     verb="GET"
                     type="System.Web.Handlers.AssemblyResourceLoader" />
                <add name="PageHandlerFactory-Integrated"
                     path="*.aspx"
                     verb="GET,HEAD,POST,DEBUG"
                     type="System.Web.UI.PageHandlerFactory"
                     modules="ManagedPipelineHandler"
                     scriptProcessor=""
                     resourceType="Unspecified"
                     requireAccess="Script"
                     allowPathInfo="false"
                     preCondition="integratedMode"
                     responseBufferLimit="4194304" />
                <add name="SimpleHandlerFactory-Integrated"
                     path="*.ashx"
                     verb="GET,HEAD,POST,DEBUG"
                     type="System.Web.UI.SimpleHandlerFactory"
                     modules="ManagedPipelineHandler"
                     scriptProcessor=""
                     resourceType="Unspecified"
                     requireAccess="Script"
                     allowPathInfo="false"
                     preCondition="integratedMode"
                     responseBufferLimit="4194304" />
                <add name="WebServiceHandlerFactory-Integrated"
                     path="*.asmx"
                     verb="GET,HEAD,POST,DEBUG"
                     type="System.Web.Services.Protocols.WebServiceHandlerFactory, System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
                     modules="ManagedPipelineHandler"
                     scriptProcessor=""
                     resourceType="Unspecified"
                     requireAccess="Script"
                     allowPathInfo="false"
                     preCondition="integratedMode"
                     responseBufferLimit="4194304" />
                <add name="wildcard"
                     path="*"
                     verb="*"
                     type="EPiServer.Web.StaticFileHandler, EPiServer" />
            </handlers>
        </system.webServer>
    </location>
    <location path="App_Themes/Default">
        <system.webServer>
            <handlers>
                <clear />
                <add name="wildcard"
                     path="*"
                     verb="*"
                     type="EPiServer.Web.StaticFileHandler, EPiServer" />
            </handlers>
        </system.webServer>
    </location>
    <episerver.framework configSource="EPiServerFramework.config" />
    <episerver.shell>
        <publicModules rootPath="~/modules/"
                       autoDiscovery="Minimal" />
        <protectedModules rootPath="~/secure/ui/">
            <add name="Shell" />
            <add name="CMS" />
        </protectedModules>
    </episerver.shell>
    <episerver.dataStore>
        <dataStore defaultProvider="EPiServerSQLServerDataStoreProvider">
            <providers>
                <add name="EPiServerSQLServerDataStoreProvider"
                     description="SQL Server implementation of Data Store"
                     type="EPiServer.Data.Dynamic.Providers.SqlServerDataStoreProvider, EPiServer.Data"
                     connectionStringName="EPiServerDB" />
                <add name="EPiServerOracleDataStoreProvider"
                     description="Oracle implementation of Data Store"
                     type="EPiServer.Data.Dynamic.Providers.OracleDataStoreProvider, EPiServer.Data"
                     connectionStringName="EPiServerDB_oracle" />
            </providers>
            <cache defaultProvider="httpCacheProvider">
                <providers>
                    <add name="httpCacheProvider"
                         description="Http Cache implementation for DataStore"
                         type="EPiServer.Data.Cache.HttpRuntimeCacheProvider,EPiServer.Data.Cache" />
                    <add name="nullCacheProvider"
                         description="Null Cache implementation for DataStore"
                         type="EPiServer.Data.Cache.NullCacheProvider,EPiServer.Data" />
                </providers>
            </cache>
        </dataStore>
    </episerver.dataStore>
    <episerver.search active="false">
        <namedIndexingServices defaultService="">
            <services></services>
        </namedIndexingServices>
        <searchResultFilter defaultInclude="true">
            <providers />
        </searchResultFilter>
    </episerver.search>
</configuration>