<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <episerver.baseLibrary>
        <classFactories>
            <add id="PropertyControlFactory"
                 type="EPiServer.Core.PropertyControlClassFactory, EPiServer">
                <register
                    type="EPiServer.Core.PropertyString, EPiServer"
                    mappedType="EPiServerBuiltInProperties.CustomizeAppearances.UsingWebConfig.RenderingChangedAppearance, EPiServerBuiltInProperties" />
            </add>
        </classFactories>
    </episerver.baseLibrary>
</configuration>
