<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.8" />
  </startup>


  <system.serviceModel>
    <extensions>
      <bindingElementExtensions>
        <add name="udpTransportCustom"
             type="Microsoft.ServiceModel.Samples.UdpTransportElement, EPiServer.Framework.AspNet" />
      </bindingElementExtensions>
    </extensions>
    <services>
      <service name="RemoteEventsTester.RemoteEventListener"
               behaviorConfiguration="DebugServiceBehaviour">
        <endpoint name="RemoteEventServiceEndPoint"
                  contract="EPiServer.Events.ServiceModel.IEventReplication"
                  binding="customBinding"
                  bindingConfiguration="RemoteEventsBinding"
                  address="soap.udp://239.255.255.19:5000/RemoteEventService" />
      </service>
    </services>
    <client>
      <endpoint name="RemoteEventServiceClientEndPoint"
                address="soap.udp://239.255.255.19:5000/RemoteEventService"
                binding="customBinding"
                bindingConfiguration="RemoteEventsBinding"
                contract="EPiServer.Events.ServiceModel.IEventReplication" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DebugServiceBehaviour">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="RemoteEventsBinding">
          <binaryMessageEncoding />
          <udpTransportCustom multicast="True" />
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>


  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.ApplicationModules"
                          publicKeyToken="8fe83dea738b45b7"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.20.14.0"
                         newVersion="11.20.14.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Data.Cache"
                          publicKeyToken="8fe83dea738b45b7"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.20.14.0"
                         newVersion="11.20.14.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Data"
                          publicKeyToken="8fe83dea738b45b7"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.20.14.0"
                         newVersion="11.20.14.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Events"
                          publicKeyToken="8fe83dea738b45b7"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.20.14.0"
                         newVersion="11.20.14.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Framework"
                          publicKeyToken="8fe83dea738b45b7"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.20.14.0"
                         newVersion="11.20.14.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Licensing"
                          publicKeyToken="8fe83dea738b45b7"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.20.14.0"
                         newVersion="11.20.14.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Framework.AspNet"
                          publicKeyToken="8fe83dea738b45b7"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.20.14.0"
                         newVersion="11.20.14.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.ServiceLocation.StructureMap"
                          publicKeyToken="null"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.3.0"
                         newVersion="2.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>