<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lemonwhale.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Lemonwhale.Core.Properties.Settings>
            <setting name="LemonwhaleSiteId" serializeAs="String">
                <value>45069cd7-e3c6-43f3-8424-6f80ad0ed669</value>
            </setting>
            <setting name="LemonwhaleApiKey" serializeAs="String">
                <value>ab3665df-ee18-4743-b99c-7643d1370169</value>
            </setting>
            <setting name="LemonwhaleListBaseUrl" serializeAs="String">
                <value>http://ljsp.lwcdn.com/web/public/site/{0}/videos.json</value>
            </setting>
        </Lemonwhale.Core.Properties.Settings>
    </applicationSettings>
</configuration>