<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lemonwhale.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Lemonwhale.Core.Properties.Settings>
            <setting name="LemonwhalePrivateAPIKey" serializeAs="String">
                <value>79a53ed4-baeb-4c79-b47a-470e24c39351</value>
            </setting>
            <setting name="LemonwhaleApiBaseUrl" serializeAs="String">
                <value>http://web.lemonwhale.com/web/public/video/</value>
            </setting>
        </Lemonwhale.Core.Properties.Settings>
    </applicationSettings>
</configuration>